@font-face {
  font-family: "Ubuntu-Regular";
  src: url(../src/assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: "Ubuntu-Medium";
  src: url(../src/assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: "Ubuntu-Bold";
  src: url(../src/assets/fonts/Ubuntu-Bold.ttf);
}

body {
  font-family: "Ubuntu-Regular", sans-serif;
  background-color: aliceblue ;
}

h1, h2 {
  font-family: "Ubuntu-Bold", sans-serif;
}

h3, h4, h5, h6 {
  font-family: "Ubuntu-Medium", sans-serif;
}

.sidebar{
  background-image: url(../src/assets/images/bg-sidebar-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
}